attrs==21.4.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.3
deepdiff==4.3.2
fuzzywuzzy==0.18.0
idna==3.2
imbox==0.9.8
imgkit==1.2.2
iniconfig==1.1.1
jsonpath==0.82
ordered-set==4.0.2
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
pytest==6.2.5
pytest-html==3.1.1
pytest-metadata==1.11.0
python-Levenshtein==0.12.2
PyYAML==6.0
requests==2.26.0
six==1.16.0
toml==0.10.2
urllib3==1.26.6
